h1, h2, p {
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-areas: 
  "header header header"
  "content content content"
  "footer footer footer"
  ;
}

.header {
  grid-area: header;
  background-color: #222;
  color: white;
  padding: 25px;
  text-align: center;
}

.header > h1 {
  border: 1px solid white;
  margin: 0;
  padding: 10px;
}

.footer {
  grid-area: footer;
  background-color: #222;
  color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;  
}

.footer > a > img {
  height: 35px;
  width: auto;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: .5fr 1fr;
  background-color: grey;
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.location > img {
  width: 15px;
  height: auto;
}

.email {
  display: flex;
  align-items: center;
  gap: 5px;
}

.email > img {
  width: 15px;
  height: auto;
}

.phone {
  display: flex;
  align-items: center;
  gap: 5px;
}

.phone > img {
  width: 15px;
  height: auto;
}

.linkedIn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.linkedIn > img {
  width: 15px;
  height: auto;
}

.form {
  
}

form {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.input {
  width: 100%;
  margin-bottom: 20px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}

legend {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: underline
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

button {
  width: 25%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #222;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}

.preview {
  background-color: white;
  padding: 50px;
}

.resume-page {
  width: 210mm;
  height: 297mm;
  background-color: white;
  padding: 50px;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  position: sticky;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.contact {
  display: flex;
  gap: 15px;
}

.objective-title, .project-heading, .skills-title, .education-title, .experience-title {
  border-bottom: #222 2px solid;
}

/* objective */
.objective, .projects-div, .skills, .education-div, .experience-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects, .experience-info {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.project-title, .experience-job-title {
  font-weight: bold;
}

.project-languages-links, .experience-company {
  display: flex; 
  gap: 10px;
  font-style: italic;
}

.project-bullet-container, .experience-bullet-container {
  margin: 0;
  padding-left: 20px;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}

.experience-dates {
  display: flex;
  gap: 5px;
}